.damu-form-column-wrap {
    margin-top:100px;
  }
.damu-login-form-wrapper .damu-form-column-wrap h2 {
margin-bottom: 30px;
color: #fad221;
text-align: center;
}
.error-wrap .error{
    font-size: 12px;
    color: #d31723;
    visibility: hidden;
    display: block;
    padding: 0 0 7px 17px;
    line-height: 16px;
    height: 16px;
    text-align: left;
    background: url("/static/icon.png") 0 -100px no-repeat;
  }
 .error-wrap .error-show{
    visibility: visible;
    height: auto;
  }
.damu-login-form-wrapper .damu-form-column-wrap .custom-form-label2 a {
font-size: 18px;
color: #887007;
margin-left:20px;
text-decoration: none;
}
.damu-button-wrap {
/* margin-left: 20px;
margin-top:20px; */
margin: 10px auto;
width: 40%;
background-color: #fad221;
border-color: #f7ce1a;
text-align: center;
}

.damu-form-button {
color: #fff;
background-color: #fad221;
border:none;
width:110px;
}
.damu-form-button:hover {
background-color: #f3c808;
color:#fff;


}
.form-group {
margin-bottom: 14px;
display:flex;
justify-content: center;

}
.damu_input_label{
margin-right:1rem;
}
.damu_input_field{

height: 40px;
border: 1px solid #ddd;
width:80%
}